# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio
.vs/
*.user
*.DotSettings.user
.vsconfig

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
